.Business {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.66rem;
    margin: 0 0.5rem 2.3rem 0.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.Business .ImageContainer {
    height: 20rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background: #000;
}

.ImageContainer img {
    width: 100%;
}

.Business h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.Info {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.Info p {
    font-size: 0.75rem;
    font-weight: 300;
    line-height: 1rem;
    margin: 0;
    display: flex;
}

.Reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Reviews h3 {
    margin: 0;
    color: #cca353;
    font-weight: 600;
}

.Reviews .category {
    font-size: 1rem;
}

.Address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Reviews .Rating {
    font-size: 0.88rem;
    line-height: 1rem;
  }
